body{ 
	margin: 0;


}


header {

	background-color: lightcoral;
	
	/* vai alinhar tanto o texto como a imagem ao centro */

	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;

}


/* Consultar Google Fonts https://fonts.google.com/ */
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	line-height: 140%;
}

ol p{
font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 140%;
}

ol{
	font-family: 'Roboto', sans-serif;
		font-weight: 300;
}

ul a {
font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 140%;
	font-size: 15px;
	color: darkorange;

}

ul {
	color: darkorange;
}

h1, h2 {
font-family: 'Roboto Mono', monospace;

}

/* relativo ao h1 que está dentro do header */

header h1{
color: mistyrose;
font-weight: 500;

font-size: 60px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid mistyrose;
}


main h2 {
font-weight: 300;
margin: 40px 0 10px;

}

main {

	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;

	}

main img{
max-width: 100%;

}

a:hover{

	background-color: darkorange;
	color: white;
}

p.legenda{

	font-weight: 300;
	font-size: 12px;
	font-style: italic;
	color: purple;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
}

footer p{
font-weight: 500;
font-size: 12px;
	font-style: italic;
}

h2 a:hover{
background-color: black;
	color: white;

}

h2 a{

	color: black;
}

}
